.contact {
    border: 1px solid wheat;
    border-radius: 10px;
    width: 250px;
    padding: 16px;
}
.btn {
            width: 68px;
            height: 24px;
            border-radius: 10px;
            border: none;
            background-color: red;
            color: white;
            opacity: 1;
}

.btnEdit {
    width: 68px;
        height: 24px;
        border-radius: 10px;
        border: none;
        background-color: #7169dc;
        color: white;
        opacity: 1;
}

.btnContainer {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}